/* Garante que o HTML e o BODY ocupem 100% da tela */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

/* Faz o mapa ocupar toda a tela */
#map {
    position: fixed; /* fixo em toda a tela */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
}

/* Botão sobreposto ao mapa */
#showChartBtn {
    position: absolute;
    bottom: 20px;
    left: 20px;
    z-index: 1000;
}
